<h1 *ngIf="!isChange" mat-dialog-title>Novo Registro</h1>
<h1 *ngIf="isChange" mat-dialog-title>Editar Registro</h1>

<div mat-dialog-content style=" justify-content: center; font-size: x-large; color: #ffffff; font-family: 'Bebas Neue', sans-serif; width: 25rem;">
  <div class="column">
  <mat-form-field appearance="fill">
    <mat-label>Código Sicap</mat-label>
    <input matInput [(ngModel)]="data.CodigoSicap">
  </mat-form-field >
</div>
<div class="column">
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.Nome">
  </mat-form-field>
</div>
<div class="column">
  <mat-form-field>
    <mat-label>Praca</mat-label>
    <input matInput [(ngModel)]="data.Praca">
  </mat-form-field>
</div>
  <mat-form-field appearance="outline">
    <mat-label >Pais</mat-label>
    <input color="" matInput [(ngModel)]="data.Pais">
  </mat-form-field>
  <div mat-dialog-actions>
    <button class="cancelar-btn btn-2"  mat-button (click)="OnCancel()"><i class="fa-solid fa-xmark"></i></button>
    <button class="add-btn btn-2" mat-button *ngIf="!isChange" [mat-dialog-close]="data" cdkFocusInitial><i class="fa-solid fa-check"></i></button>
    <button class=" add-btn btn-2"mat-button *ngIf="isChange"[mat-dialog-close]="data" cdkFocusInitial><i class="fa-solid fa-check"></i></button>
  
  </div>
</div>
 
