<section id="sidebar">
    <a>
   <img src="../../../assets/logo/logo_completa.png"  width="175rem" style="margin-top: 1rem; margin-left: 3rem;" class="src">
    </a>
    <ul class="side-menu top">
        <li routerLinkActive="active">
            <a routerLink="/home-adm" >
          <i class='bx bxs-bank' ></i>
          <span class="text">Banco</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dashboard">
          <i class='bx bxs-group' ></i>
          <span class="text">Sobre</span>
        </a>
      </li>
      
    </ul>
    <ul class="side-menu">
    </ul>
  </section>